.bar {
  background-color: #00cc00;
  overflow: hidden;
}

.bar a {
  float: left;
  display: block;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bar a:hover {
  background-color: #ffff4d;
}

.bar a.active {
  background-color: white;
  color: #ffff4d;
}

.bar .icon {
  display: none;
}

body {
  background-color: #ffff4d;
}

#quote {
  color: white;
  font-family: monospace;
  font-size: 36px;
  text-align: center;
  text-shadow: 2px 2px #black;
}

#image1 {
  text-align: center;
}

#caption1 {
  text-align: center;
  font-size: 24px;
}

#pineapple1 {
  font-size: 36px;
}

#def1 {
  font-size: 30px;
}

#def2 {
  font-size: 30px;
}
