.bar {
  background-color: #00cc00;
  overflow: hidden;
}

.bar a {
  float: left;
  display: block;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bar a:hover {
  background-color: #ffff4d;
}

.bar a.active {
  background-color: white;
  color: #ffff4d;
}

.bar .icon {
  display: none;
}

#title {
  font-family: monospace;
  font-size: 36px;
}

.list {
  font-size: 28px;
}
